<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zenghao.springboot.hellomybatis.mapper.TAddressMapper">
  <resultMap id="BaseResultMap" type="com.zenghao.springboot.hellomybatis.entity.TAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province" jdbcType="CHAR" property="province" />
    <result column="city" jdbcType="CHAR" property="city" />
    <result column="area" jdbcType="CHAR" property="area" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="zip" jdbcType="CHAR" property="zip" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_user" jdbcType="VARCHAR" property="modifiedUser" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
</mapper>